.main-content {
  /* width: 100% !important;
  height: 1020px; */
  /* height: 100% !important;
  background-size: 100% !important; */
}

.ceshi {
  width: 1920px;
  height: 1020px;
  position: relative;
  background: url('../img/map/1920_1080/bg.jpg');
  background-size: 1920px 1020px;
  /* background: url('../img/map/1920_1080/bg.jpg') -100% 12% no-repeat; */
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 1020px;
  background-size: 1920px 1020px;
  background-repeat: no-repeat;
  background-position: left;
  z-index: 100;
}

.bg.dian220 {
  background-image: url("../img/map/1920_1080/220KV.png");
}

.bg.dian500 {
  background-image: url("../img/map/1920_1080/500KV.png");
}

.bg.dianzhan {
  background-image: url("../img/map/1920_1080/dianzhan.png");
}

.bg.lengguan {
  background-image: url("../img/map/1920_1080/lengguan.png");
}

.bg.reguan {
  background-image: url("../img/map/1920_1080/reguan.png");
}

/*.bg.lengguan-gif.open {
  background-image: url("../img/lengguan-0927.gif");
}

.bg.reguan-gif.open {
  background-image: url("../img/reguan-0927.gif");
}

.bg.dianwang-gif.open {
  background-image: url("../img/dianwang-0927.gif");
}*/

.page-name {
  font-family: PingFangSC-Regular;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 1px;
  position: absolute;
  left: 100px;
  top: 92px;
  width: 150px;
  height: 28px;
  background-size: 9px 9px;
  background-image: url("../img/dot@1x.png");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 28px;
  z-index: 1000;
}

.page-name-dropdown {
  background-size: 12px 6px;
  background-image: url("../img/left-xiala.png");
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  left: 257px;
  top: 105px;
  width: 12px;
  height: 6px;
  z-index: 1000;
}

.page-name-dropdown.open {
  background-image: url("../img/left-shang.png");
}

.type-choose {
  position: absolute;
  left: 35px;
  top: 137px;
  width: 247px;
  height: 243px;
  border-radius: 4px;
  filter: blur(0px);
  display: none;
  background-size: 247px 243px;
  background-repeat: no-repeat;
  background-position: left;
  z-index: 1000;
}

.type-choose.open {
  display: block;
  background-image: url("../img/left-beijing.png");
}

.type-content {
  margin-top: 40px;
}

.type-content .type-item {
  display: inline-block;
  float: left;
  padding-bottom: 20px;
}

.type-content .type-item .type-name {
  width: 18px;
  height: 25px;
  font-size: 18px;
  font-family: PingFangSC-Semibold;
  color: rgba(255, 255, 255, 1);
  line-height: 25px;
  margin-left: 18px;
  display: inline-block;
  float: left;
}

.type-content .type-item .sub-types {
  display: inline-block;
  float: left;
}

.type-content .type-item .sub-types .sub-type {
  cursor: pointer;
  display: inline-block;
  float: left;
  margin-left: 10px;
  width: 54px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid rgba(146, 175, 199, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #fff;
  line-height: 17px;
  text-align: center;
  padding-top: 3px;
}

.type-content .type-item .sub-types .sub-type.active {
  background: rgba(89, 170, 181, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  width: 56px;
  height: 20px;
  padding-top: 4px;

}

.type-item {

}

.qiyenenghaopaiming {
  position: absolute;
  z-index: 1000;
  right: 90px;
  top: 850px;
  width: 167px;
  height: 50px;
  background: rgba(89, 170, 181, 1);
  box-shadow: 0px 1px 0px 0px rgba(58, 88, 106, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.qiyenenghaopaiming.open {
  top: 650px;
}

.bottom {
  background-size: 1920px 92px;
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1920px;
  height: 92px;
  z-index: 10001;
}

.bottom .head, .bottom .content {
  padding-left: 20px;
}

.bottom .head .item,
.bottom .content .item {
  background-size: 22px 20px;
  background-repeat: no-repeat;
  background-position: left;
  display: inline-block;
  float: left;
  margin-top: 40px;
  height: 40px;
  line-height: 40px;
  width: 220px;
  font-size: 18px;
  font-family: PingFangSC-Semibold;
  color: rgba(146, 175, 199, 1);
  padding-left: 30px;
}

.bottom .head .item em {
  font-weight: normal;
  font-family: PingFangSC-Regular;
  font-size: 16px;
}

.bottom .head .item.jinri {
  background-image: url("../img/jinrinenghao.png");
  width: 501px;
}

.bottom .head .item.jiegou {
  background-image: url("../img/fenbushichuneng.png");
  width: 260px;
  margin-left: 20px;
}

.bottom .head .item.anquan {
  background-image: url("../img/aqbz.png");
  width: 260px;
  background-size: 19px 25px;
  margin-left: 20px;
}

.bottom .head .item.jieneng {
  background-image: url("../img/yuanqu_icon/jnjp@2x.png");
  width: 260px;
  background-size: 21px 21px;
  margin-left: 20px;
}

.bottom .head .item.jieru {
  background-image: url("../img/jieruguimo.png");
  width: 350px;
  margin-left: 20px;
}

.bottom .content {
  display: none;
  margin-top: 92px;
  background: rgba(39, 84, 114, 0.8);
  height: 200px;
  position: relative;
}

.bottom .content .head {
  position: absolute;
  top: -80px;
  height: 50px;
  display: inline-block;
}

.bottom .content .item {
  color: #fff;
}

.bottom .content .data-items .data-item {
  width: 320px;
  display: inline-block;
  float: left;
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  padding-left: 50px;
}

.bottom .content .data-items .data-item .row {
  height: 50px;
  padding-bottom: 30px;
}

.bottom .content .data-items .data-item .row .cell {
  width: 50%;
  display: inline-block;
  float: left;
}

.bottom .content .data-items .data-item .row .cell._100 {
  width: 100%;
  display: inline-block;
  float: left;
}

.bottom .content .data-items .data-item .row .cell.big {
  width: 260px;
}

.bottom .content .data-items .data-item .row.small .cell {
  width: 100px;
}

.bottom .content .data-items .data-item .row .cell .num,
.bottom .content .data-items .data-item .row.small .cell .num {
  font-family: DINPro-Medium;
  font-size: 30px;
  color: #FFFFFF;
  margin-top: 15px;
  height: 32px;
  line-height: 32px;
}

.bottom .content .data-items .data-item .row .cell .num em,
.bottom .content .data-items .data-item .row.small .cell .num em {
  padding-left: 5px;
  width: 48px;
  height: 17px;
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 17px;
}

.bottom .content .data-items .data-item .row .cell .name,
.bottom .content .data-items .data-item .row.small .cell .name {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #92AFC7;
  letter-spacing: 0.1px;
  height: 16px;
  display: inline-block;
  line-height: 16px;
}

.bottom .content .data-items .data-item .row .cell .name.big {
  width: 200px;
}

.bottom .content .data-items .data-item.jinri {
  width: 500px;
  height: 100%;
  border-right: 1px solid #536979;
}

.bottom .content .data-items .data-item.jiegou {
  width: 260px;
  height: 100%;
  border-right: 1px solid #536979;
}

.bottom .content .data-items .data-item.anquan {
  width: 260px;
  height: 100%;
  border-right: 1px solid #536979;
}

.bottom .content .data-items .data-item.jinri .row .cell {
}

.bottom .content .data-items .data-item.jieneng {
  width: 260px;
  height: 100%;
  border-right: 1px solid #536979;
}

.bottom .content .data-items .data-item.jieru {
  width: 360px;
}

.bottom .content .data-items .data-item .row .cell.small {
  width: 120px;
}

.bottom.open {
  top: 708px;
  background-image: url("../img/2.png");
}

.bottom.open .head {
  display: none;
}

.bottom.open .content, .bottom.open .content .head {
  display: block;
}

.qiyenenghaopaiming-modal {
  background-size: 1528px 766px;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("../img/qiyepaimingbeijing.png");
  width: 1528px;
  height: 766px;
  display: none;
  position: absolute;
  left: 196px;
  top: 157px;
  z-index: 10002;
}

.qiyenenghaopaiming-modal.open {
  display: block;
}

.qiyenenghaopaiming-modal .title {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(210, 210, 210, 0.3);
  position: relative;
}

.qiyenenghaopaiming-modal .title .name {
  height: 41px;
  font-size: 24px;
  font-family: SFNSDisplay;
  color: rgba(255, 255, 255, 1);
  line-height: 34px;
  margin-left: 100px;
}

.qiyenenghaopaiming-modal .title .dropdown {
  width: 80px;
  border-radius: 2px;
  border: 1px solid #20D9F2;
  color: #20D9F2;
  height: 20px;
  font-size: 12px;
  padding-left: 5px;
  line-height: 20px;
  display: inline-block;
  padding-right: 0;
  margin-left: 20px;
  cursor: pointer;
}

.qiyenenghaopaiming-modal .title .dropdown .shaixuanTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
  width: 60px;
  display: inline-block;
  text-align: center;
}

.qiyenenghaopaiming-modal .title .dropdown i {
  background-size: 9px 4px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("../img/xiajiantou.png");
  width: 9px;
  height: 18px;
  display: inline-block;
  padding-left: 4px;
}

.qiyenenghaopaiming-modal .title .dropdown.open i {
  background-image: url("../img/shangjiantou.png");
}

.qiyenenghaopaiming-modal .title .icon-1 {
  display: inline-block;
  background-image: url("../img/dian@2x.png");
  background-size: 16px 25px;
  width: 16px;
  height: 25px;
  margin-left: 68px;
}

.qiyenenghaopaiming-modal .title .icon-2 {
  display: inline-block;
  background-image: url("../img/qi@2x.png");
  background-size: 18px 21px;
  width: 18px;
  height: 21px;
  margin-left: 37px;
}

.qiyenenghaopaiming-modal .title .icon-3 {
  display: inline-block;
  background-image: url("../img/re@2x.png");
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  margin-left: 37px;
}

.qiyenenghaopaiming-modal .title .name2 {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #92AFC7;
  float: right;
  margin-right: 100px;
  height: 41px;
  line-height: 34px;
}

.qiyenenghaopaiming-modal .title .name2 em {
  color: #fff;
  height: 24px;
}

.qiyenenghaopaiming-modal .title .close {
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/guanbi.png");
  width: 12px;
  height: 12px;
  display: inline-block;
  float: right;
  padding-right: 30px;
  position: absolute;
  z-index: 1000;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.qiyenenghaopaiming-modal .content {
  padding-top: 50px;
  height: 530px;
}

.qiyenenghaopaiming-modal .content .row {
  padding-bottom: 10px;
  display: inline-block;
  float: left;
  height: 80px;
  width: 450px;
  margin-left: 50px;
}

.qiyenenghaopaiming-modal .content .row .item {
  display: inline-block;
  float: left;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.qiyenenghaopaiming-modal .content .row .item .name {
  color: #fff;
  width: 450px;
  display: inline-block;
  float: left;
  height: 30px;
}

.qiyenenghaopaiming-modal .content .row .item .name em {
  padding-right: 15px;
  width: 20px;
  display: inline-block;
}

.qiyenenghaopaiming-modal .content .row .item .num {
  width: 400px;
  display: inline-block;
  float: left;
  padding-left: 32px;
  height: 24px;
}

.qiyenenghaopaiming-modal .content .row .item .num em {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.qiyenenghaopaiming-modal .content .row .item .num .no {
  color: #fff;
  font-size: 14px;
  font-family: DINPro-Medium;
  padding-left: 5px;
  margin-right: 10px;
}

.qiyenenghaopaiming-modal .content .row .item .num .no em {
  background: rgba(32, 217, 242, 1);
}

.qiyenenghaopaiming-modal .content .row .item .num .perct {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #92AFC7;
  margin-right: 10px;
}

.qiyenenghaopaiming-modal .content .row .item .num .perct em {
  background: rgba(14, 222, 172, 1);
}

.qiyenenghaopaiming-modal .content .row .item .num .no2 {
  color: #fff;
  font-size: 14px;
  font-family: DINPro-Medium;
  padding-left: 5px;
}

.qiyenenghaopaiming-modal .content .row .item .num .no2 em {
  background: rgba(203, 157, 21, 1);
}

.qiyenenghaopaiming-modal .content .row .item .bar-bg {
  background: rgba(32, 217, 242, 0.1);
  border-radius: 11.2px;
  width: 300px;
  display: inline-block;
  float: left;
  height: 6px;
  line-height: 30px;
  margin-left: 35px;
  margin-top: 12px;
}

.qiyenenghaopaiming-modal .content .row .item .bar-data {
  border-radius: 12px;
  position: absolute;
  left: 35px;
  top: 66px;
  width: 0px;
  height: 6px;
  background: rgba(32, 217, 242, 1);
}

.qiyenenghaopaiming-modal .content .row .item .icon-4 {
  background-image: url("../img/group4@2x.png");
  background-size: 26px 26px;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-left: 18px;
  margin-top: 5px;
  cursor: pointer;
}

.qiyenenghaopaiming-modal .indicate {
  margin-left: 80px;
  height: 40px;
}

.qiyenenghaopaiming-modal .indicate .num em {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.qiyenenghaopaiming-modal .indicate .num .no {
  color: #fff;
  font-size: 14px;
  font-family: DINPro-Medium;
  padding-left: 5px;
  margin-right: 20px;
}

.qiyenenghaopaiming-modal .indicate .num .no em {
  background: rgba(32, 217, 242, 1);
}

.qiyenenghaopaiming-modal .indicate .num .perct {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #92AFC7;
  margin-right: 20px;
}

.qiyenenghaopaiming-modal .indicate .num .perct em {
  background: rgba(14, 222, 172, 1);
}

.qiyenenghaopaiming-modal .indicate .num .no2 {
  color: #fff;
  font-size: 14px;
  font-family: DINPro-Medium;
  padding-left: 5px;
}

.qiyenenghaopaiming-modal .indicate .num .no2 em {
  background: rgba(203, 157, 21, 1);
}

.qiyenenghaopaiming-modal .paging {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.qiyenenghaopaiming-modal .paging .left {
  background-size: 7px 11px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-image: url("../img/zuofanye.png");
  width: 24px;
  height: 20px;
  padding-top: 4px;
  display: inline-block;
  cursor: pointer;
}

.qiyenenghaopaiming-modal .paging .right {
  background-size: 7px 11px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url("../img/youfanye.png");
  width: 24px;
  height: 20px;
  padding-top: 4px;
  display: inline-block;
  cursor: pointer;
}

.qiyenenghaopaiming-modal .paging .page {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #92AFC7;
  width: 24px;
  height: 20px;
  display: inline-block;
  text-align: center;
  padding-top: 4px;
  cursor: pointer;
}

.qiyenenghaopaiming-modal .paging .page.active {
  cursor: pointer;
  background: rgb(32, 217, 242);
  color: #fff;
  border-radius: 4px;
}

.hangyeshaixuan-popup {
  background-size: 321px 576px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url("../img/qiyeshuaixuanbeijing.png");
  width: 321px;
  height: 576px;
  position: absolute;
  left: 230px;
  top: 215px;
  z-index: 10003;
  display: none;
}

.hangyeshaixuan-popup ul {
  list-style-type: none;
  padding-left: 30px;
  padding-top: 15px;
}

.hangyeshaixuan-popup ul li {
  list-style-type: none;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #92AFC7;
  margin-bottom: 6px;
  cursor: pointer;
}

.hangyeshaixuan-popup ul li.active {
  cursor: pointer;
  color: #20D9F2;
}

.hangyeshaixuan-popup ul li:hover {
  color: #fff;
}

.hangyeshaixuan-popup.open {
  display: block;
}

.fangda {
  background-size: 37px 32px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url("../img/fangda.png");
  width: 37px;
  height: 32px;
  position: absolute;
  left: 1800px;
  top: 165px;
  z-index: 1010;
  cursor: pointer;
}

.suoxiao {
  background-size: 37px 32px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url("../img/suoxiao.png");
  width: 37px;
  height: 32px;
  position: absolute;
  left: 1800px;
  top: 210px;
  z-index: 1010;
  cursor: pointer;
}

.modal {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url("../img/qiyepaimingbeijing.png");
  position: absolute;
  z-index: 1010;
  display: none;
}

.modal.open {
  display: block;
}

.modal.qiye {
  background-size: 480px 426px;
  width: 480px;
  height: 426px;
  left: 678px;
  top: 223px;
}

.modal.qiye #chart-qiye {
  width: 450px;
  margin-left: 10px;
  height: 200px;
  margin-top: -40px;
}

.modal.qiye #chart-qiye2 {
  width: 450px;
  margin-left: 10px;
  height: 200px;
  margin-top: -40px;
}

.modal.chuneng {
  background-size: 480px 488px;
  width: 480px;
  height: 488px;
  left: 720px;
  top: 256px;
}

.modal.chuneng #chart-chuneng {
  width: 450px;
  margin-left: 10px;
  height: 200px;
  margin-top: -40px;
}

.modal.chongdian {
  background-size: 384px 192px;
  width: 384px;
  height: 192px;
  left: 768px;
  top: 404px;
}

.modal.guangfu {
  background-size: 480px 392px;
  width: 480px;
  height: 392px;
  left: 720px;
  top: 304px;
}

.modal.guangfu #chart-guangfu {
  width: 450px;
  margin-left: 10px;
  height: 200px;
  margin-top: -40px;
}

.modal.randiqianzhan {
  background-size: 480px 490px;
  width: 480px;
  height: 490px;
  left: 720px;
  top: 255px;
}

.modal.randiqianzhan #chart-randiqianzhan {
  width: 440px;
  margin-left: 20px;
  height: 200px;
  margin-top: -40px;
}

.modal .dot {
  position: absolute;
  display: inline-block;
  background-size: 9px 9px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../img/dot@1x.png");
  left: 20px;
  top: 25px;
  width: 9px;
  height: 9px;
}

.modal .title {
  width: 80%;
  margin-top: 12px;
  margin-left: 10%;
  border-bottom: 1px solid rgba(210, 210, 210, 0.3);
  min-height: 30px;
  font-size: 16px;
  font-family: SFNSDisplay;
  color: rgba(255, 255, 255, 1);
  line-height: 30px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.modal .close {
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/guanbi.png");
  width: 12px;
  height: 12px;
  display: inline-block;
  padding-right: 10px;
  position: absolute;
  z-index: 1000;
  right: 10px;
  top: 25px;
  cursor: pointer;
}

.modal .content {
  padding-top: 20px;
}

.modal .content .items {

}

.modal .content .items .row {
  display: inline-block;
  float: left;
  width: 100%;
  padding-bottom: 20px;
}

.modal .content .items .row.hide {
  display: none;
}

.modal .content .items .row .tab {
  display: inline-block;
  float: left;
  width: 35%;
  margin-left: 10%;
  margin-right: 5%;
}

.modal .content .items .row .tab .tab-item {
  height: 25px;
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #92AFC7;
  line-height: 25px;
  display: inline-block;
  float: left;
  width: 40px;
  text-align: center;
  background: rgba(39, 84, 114, 0.4);
}

.modal .content .items .row .tab .tab-item:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.modal .content .items .row .tab .tab-item:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.modal .content .items .row .tab .tab-item.active {
  background: rgb(32, 217, 242);
  color: #fff;
}

.modal .content .items .row .item {
  display: inline-block;
  float: left;
  width: 35%;
  margin-left: 10%;
  margin-right: 5%;
}

.modal .content .items .row .item.big {
  width: 80%;
}

.modal .content .items .row .item .num {
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 18px;
  font-family: DINAlternate;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.modal .content .items .row .item .num em {
  padding-left: 4px;
}

.modal .content .items .row .item .name {
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(146, 175, 199, 1);
}

.modal .content .items .row .item .sub-title {
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-top: 20px;
}

.modal.chongdian .chongdianzhaung-row {
  margin-left: 10%;
}

.modal.chongdian .chongdianzhaung {
  display: inline-block;
  float: left;
  width: 24px;
  height: 16px;
  margin-right: 15px;
  background-size: 24px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/chongdianzhuang.png");
  padding-top: 2px;
}

.points .ranqidianzhan {
  position: absolute;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/yuanqu_icon/rqdz@2x.png");
  background-size: 19px 35px;
  width: 24px;
  height: 40px;
  display: none;
  margin-top: -40px;
}

.points .ranqidianzhan.active {
  cursor: pointer;
  display: block;
}

.points .guangfu {
  position: absolute;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/yuanqu_icon/gf@2x.png");
  background-size: 19px 35px;
  width: 19px;
  height: 35px;
  display: none;
  margin-top: -40px;
}

.points .guangfu.active {
  cursor: pointer;
  display: block;
}

.points .chuneng {
  position: absolute;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/yuanqu_icon/wgd@2x.png");
  background-size: 19px 35px;
  width: 19px;
  height: 35px;
  display: none;
  margin-top: -40px;
}

.points .chuneng.active {
  cursor: pointer;
  display: block;
}

.points .chongdianzhan {
  position: absolute;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/yuanqu_icon/cdz@2x.png");
  background-size: 19px 35px;
  width: 19px;
  height: 35px;
  display: none;
  margin-top: -40px;
}

.points .chongdianzhan.active {
  cursor: pointer;
  display: block;
}

.points .qiye {
  position: absolute;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/yuanqu_icon/qy@2x.png");
  background-size: 19px 35px;
  width: 24px;
  height: 40px;
  display: none;
  margin-top: -40px;
}

.points .qiye.active {
  cursor: pointer;
  display: block;
}

.points .ranqidianzhan1 {
  left: 1150px;
  top: 775px;
}

.points .ranqidianzhan2 {
  left: 1410px;
  top: 42.59%;
}

.points .guangfu1 {
  left: 768px;
  top: 134px;
}

.points .chuneng1 {
  left: 332px;
  top: 456px;
}

.points .chongdianzhan1 {
  left: 806px;
  top: 166px;
}

.points .chongdianzhan2 {
  left: 202px;
  top: 412px;
}

.points .chongdianzhan3 {
  left: 1104px;
  top: 514px;
}

.points .chongdianzhan4 {
  left: 728px;
  top: 300px;
}

.points .chongdianzhan5 {
  left: 630px;
  top: 264px;
}

.points .chongdianzhan6 {
  left: 868px;
  top: 704px;
}

.points .chongdianzhan7 {
  left: 194px;
  top: 516px;
}

.points .chongdianzhan8 {
  left: 920px;
  top: 724px;
}

.points .chongdianzhan9 {
  left: 1120px;
  top: 628px;
}

.points .chongdianzhan10 {
  left: 814px;
  top: 356px;
}

.points .chongdianzhan11 {
  left: 1360px;
  top: 154px;
}

.points .qiye1 {
  left: 856px;
  top: 294px;
}

.points .qiye2 {
  left: 406px;
  top: 342px;
}

.points .qiye3 {
  left: 344px;
  top: 290px;
}

.points .qiye4 {
  left: 686px;
  top: 328px;
}

.points .qiye5 {
  left: 268px;
  top: 636px;
}

.points .qiye6 {
  left: 790px;
  top: 278px;
}

.points .qiye7 {
  left: 346px;
  top: 368px;
}

.points .qiye8 {
  left: 370px;
  top: 414px;
}

.points .qiye9 {
  left: 714px;
  top: 466px;
}

.points .qiye10 {
  left: 306px;
  top: 394px;
}

.points .qiye11 {
  left: 440px;
  top: 294px;
}

.points .qiye12 {
  left: 1076px;
  top: 282px;
}

.points .qiye13 {
  left: 1170px;
  top: 272px;
}

.points .qiye14 {
  left: 1098px;
  top: 334px;
}

.points .qiye15 {
  left: 1548px;
  top: 114px;
}

.points .qiye16 {
  left: 1204px;
  top: 282px;
}

.points .qiye17 {
  left: 1302px;
  top: 156px;
}

.points .qiye18 {
  left: 980px;
  top: 200px;
}

.points .qiye19 {
  left: 1690px;
  top: 364px;
}

.points .qiye20 {
  left: 1238px;
  top: 372px;
}

.points .qiye21 {
  left: 1416px;
  top: 336px;
}

.points .qiye22 {
  left: 1324px;
  top: 438px;
}

.points .qiye23 {
  left: 1310px;
  top: 308px;
}

.points .qiye24 {
  left: 1284px;
  top: 240px;
}

.points .qiye25 {
  left: 1184px;
  top: 356px;
}

.points .qiye26 {
  left: 1290px;
  top: 176px;
}

.points .qiye27 {
  left: 1216px;
  top: 346px;
}

.points .qiye28 {
  left: 1316px;
  top: 368px;
}

.points .qiye29 {
  left: 1398px;
  top: 412px;
}

.points .qiye30 {
  left: 1376px;
  top: 364px;
}

.points .qiye31 {
  left: 1590px;
  top: 216px;
}

.points .qiye32 {
  left: 1454px;
  top: 342px;
}

.points .qiye33 {
  left: 930px;
  top: 152px;
}

.points .qiye34 {
  left: 820px;
  top: 110px;
}

.points .qiye35 {
  left: 636px;
  top: 124px;
}

.points .qiye36 {
  left: 1052px;
  top: 38px;
}

.points .qiye37 {
  left: 730px;
  top: 88px;
}

.points .qiye38 {
  left: 878px;
  top: 66px;
}

.points .qiye39 {
  left: 894px;
  top: 108px;
}

.points .qiye40 {
  left: 810px;
  top: 700px;
}

.points .qiye41 {
  left: 840px;
  top: 760px;
}

.points .qiye42 {
  left: 962px;
  top: 750px;
}

.points .qiye43 {
  left: 896px;
  top: 726px;
}

.points .qiye44 {
  left: 1166px;
  top: 522px;
}

.points .qiye45 {
  left: 728px;
  top: 692px;
}

.points .qiye46 {
  left: 750px;
  top: 758px;
}

.points .qiye47 {
  left: 1306px;
  top: 608px;
}

.points .qiye48 {
  left: 752px;
  top: 718px;
}

.points .qiye49 {
  left: 1086px;
  top: 512px;
}

.points .qiye50 {
  left: 802px;
  top: 634px;
}

.north {
  position: absolute;
  left: 1750px;
  top: 100px;
  width: 80px;
  height: 80px;
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("../img/yuanqu_icon/fw@2x.png");
}

.modal.qiye2 {
  background-size: 480px 56px;
  width: 320px;
  height: 56px;
  left: 0px;
  top: 0px;
  border: 1px solid rgba(94, 243, 255, 0.5954);
}

.modal.qiye2 .title {
  border-bottom: none;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
}

.modal.qiye2 .detail {
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: rgba(32, 217, 242, 1);
  line-height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}
